*.mp3
*.exe
*.apk
*.ipa
*.swf
*.zip
/*/*.swf
/IMV/*/*.swf
cloud1/
/*/cloud/
/*/*/cloud/
*/cloud/
*/*/cloud/
/*/cloud
/*/*/cloud
*/cloud
*/*/cloud
Thumbs.db
.DS_Store
MIDI2.jar
VJYSync_Data/
VJYSync.exe
Live/VJY-app.xml
